@media (min-width: 992px)
  .nav
    &-navbar
      &__link
        &:hover
          border-bottom: 2px solid $primary
    &-button
      &:hover
        color: $light
        border: 2px solid transparent
        background-color: $secondary
