.nav
  width: 1140px
  margin: 0 auto
  padding: 26px 0 60px 0
  display: flex
  justify-content: space-between
  align-items: center
  &-navbar
    width: 506px
    display: flex
    justify-content: space-between
    margin-left: 393px
    &__link
      text-decoration: none
      color: $primary
      font-weight: 600
      font-size: 16px
      line-height: 22px
      border-bottom: 2px solid transparent
      cursor: pointer
  &-button
    padding: 11px 23px
    color: $secondary
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: center
    border: 2px solid $secondary
    box-sizing: border-box
    filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1))
    border-radius: 8px
    cursor: pointer
    margin-left: 50px
.hero
  width: 1175px
  margin: 0 auto
  padding: 68px 0 46px 107px
  background-color: #E8EAE9
  background-image: url(../img/hero-gradient.png), url(../img/hero-img.png)
  background-repeat: no-repeat
  background-position-x: 368px
  background-position-y: -366px
  background-size: 150%, 82%
  border-radius: 8px
  margin-bottom: 120px
  &-tag
    background: rgba(54, 179, 126, 0.1)
    border-radius: 2000px
    font-weight: 600
    font-size: 14px
    line-height: 20px
    text-align: center
    color: #36B37E
    padding: 6px 16px
    margin-bottom: 28px
  &-title
    width: 454px
    font-family: 'hk-grotesk-bold', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 56px
    line-height: 68px
    letter-spacing: 0.2px
    color: $primary
    margin-bottom: 28px
  &-text
    width: 620px
    font-size: 20px
    line-height: 36px
    color: $color-text
    margin-bottom: 48px
  &-button
    max-width: 259px
    display: block
    padding: 15px 38px
    box-sizing: border-box
    background: $primary
    border-radius: 8px
    font-weight: bold
    font-size: 18px
    line-height: 25px
    text-align: center
    color: #FFFFFF
    text-decoration: none
    margin-bottom: 48px
  &-advantages
    display: flex
    align-items: center
    &__img
      margin-right: 7px
    &__text
      margin-right: 31px
