.stories
  width: 1150px
  margin: 0 auto
  margin-bottom: 140px
  &-wrap
    display: flex
    justify-content: space-between
  &-content
    margin-right: 60px
  &::before
    content: ''
    display: block
    width: 1140px
    height: 1px
    background-color: #E5EAF4
    margin: 0 auto
    margin-bottom: 126px
  &-tag
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 20px
    text-align: center
    text-transform: uppercase
    color: #36B37E
    background: rgba(54, 179, 126, 0.1)
    border-radius: 2000px
    padding: 6px 16px
    margin-bottom: 34px
  &-subtitle
    width: 334px
    font-family: 'hk-grotesk-bold', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: $primary
    margin: 34px 0 24px 0
  &-text
    width: 392px
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 36px
    color: $color-text
    margin: 0 0 50px 0
  &-btn
    width: 132px
    display: flex
    justify-content: space-between
    &__left
      width: 54px
      height: 56px
      display: flex
      justify-content: center
      align-items: center
      border: 2px solid #959EAD
      box-sizing: border-box
      border-radius: 50%
    &__right
      width: 54px
      height: 56px
      display: flex
      justify-content: center
      align-items: center
      border: 2px solid $primary
      box-sizing: border-box
      border-radius: 50%
  &-article__1,
  &-article__2
    position: relative
    margin-top: 3px
  &-article__1
    margin-left: 9px
  &-article__2
    margin-right: 9px
  &-article
    &__box
      width: 312px
      height: 317px
      border-radius: 8px 8px 0px 0px
      overflow: hidden
    &__img
      object-fit: cover
    &__wrap
      width: 312px
      padding: 20px 32px 20px 20px
      background: #FAFDFF
      position: absolute
      top: 297px
      left: 10px
    &__title
      width: 210px
      font-family: 'hk-grotesk-medium'
      font-style: normal
      font-weight: 500
      font-size: 22px
      line-height: 32px
      letter-spacing: 0.2px
      color: $primary
      margin: 2px 0 19px 0
    &__link
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $secondary
      text-decoration: none
