.testimonial
  width: 800px
  margin: 0 auto
  margin-bottom: 80px
  &-slider
    &__item
      display: flex
      flex-direction: column
      justify-content: center
      width: 800px
      margin: 0 auto
  &-quote
    margin-bottom: 18px
  &-text
    font-family: 'hk-grotesk-regular', sans-serif
    font-style: normal
    font-weight: regular
    font-size: 20px
    line-height: 42px
    text-align: center
    letter-spacing: 0.133333px
    color: $primary
    margin-bottom: 28px
    height: 168px
    overflow: scroll
    text-overflow: ellipsis
    &::-webkit-scrollbar
      width: 0
  &-client
    display: block
    font-family: 'hk-grotesk-bold', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 24px
    text-align: center
    letter-spacing: 0.2px
    color: $primary
  .swiper
    &-pagination
      display: flex
      justify-content: space-between
      width: 58px
      position: unset
      margin: 48px auto 0
      &-bullet
        width: 5px
        height: 5px
        background-color: #B3BAC5
        border-radius: 50%
        margin-right: 5px
        &-active
          background-color: $primary
